body {
  background: #f3eeee;
}

#map-container {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

#form-container {
  padding: 3rem 3rem 1rem 3rem;
}

#map {
  height: 40vh;
}

#popup {
  font-size: 2.5rem;
  padding: 10px 10px 0 10px;
}

.alert {
  background: red;
  color: #fff;
  padding: 5px;
  margin: 5px 0 15px 0;
}